body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(img/Entrada.jpg);
    background-size:100%;
    background-repeat: no-repeat;
   
   
}


.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: transparent;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border-radius: 10px;
    
}
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box input{
    border: 0;
    background: none;
    background: linear;
    display: block;
    margin: 10px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid rgb(7, 99, 135);
    width: 250px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 20px ;
   transition: .5s;
}


.bot:hover:focus{

    width: 50px;
    border-color: rgb(255, 255, 255);
}
.a{
    padding: 10px 20px;
    color: #f7f4f4;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 4px;
    background-color: transparent; 
    border: none;
    transition: 1s;
    

}
.a:hover{
    background: #1a9504;
    color: #fffdfd;
    border-radius: 5px;
    
}

.b{
    padding: 10px 20px;
    color: #f7f4f4;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 4px;
    background-color: transparent; 
    border: none;
    transition: 1s;
    margin-left: 40px;

}
.b:hover{
    background: #1a9504;
    color: #fffdfd;
    border-radius: 5px;
    
}

::placeholder{
    color: rgb(255, 255, 255);

}

.login-box .user-box :hover{

    width: 300px;
}